# Flask & Backend
flask>=3.0.0
werkzeug>=3.0.1

# Computer Vision
opencv-python-headless
numpy>=1.26.0

# PyTorch CPU (Versi yang support Python 3.12)
--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.2.0
torchvision>=0.17.0

# Face Recognition
insightface>=0.7.3
onnxruntime

# Object Detection
ultralytics

# Additional dependencies
Pillow>=10.1.0